* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ================== Navbar ================== */
.nav {
  position: sticky;
  width: 100%;
  background-color: #536dfe;
  z-index: 100;
}

.nav > .container {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

/* ================== Todo List Section ================== */
.section-title {
  font-weight: 500;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  position: relative;
  width: 100%;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  word-break: break-all;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.card-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.card-btn > * {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
#edit {
  background-color: #536dfe;
  transition: transform 0.3s ease;
}

#edit:hover {
  transform: scale(1.1);
}

#delete {
  background-color: rgb(247, 62, 62);
  transition: transform 0.3s ease;
}

#delete:hover {
  transform: scale(1.05);
}

#edit > i,
#delete > i {
  font-size: 1rem;
  color: #ffffff;
}

.card-logo {
  position: absolute;
  top: 0.375rem;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-logo {
  font-size: 2rem;
}

.card-title {
  margin: 2rem 0 0;
  font-weight: 500;
}

.card-date {
  font-size: 0.875rem;
}

/* ================== Modal ================== */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
}

.modal {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 0.25rem;
  background-color: #fff;
}

.modal-title {
  font-weight: 500;
}

.modal-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.modal-btn > * {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

#no,
#cancel {
  background-color: rgb(247, 62, 62);
  transition: all 0.3 ease-in-out;
}

#no:hover,
#cancel:hover {
  background-color: rgb(224, 47, 47);
}

#yes,
#submit {
  background-color: #536dfe;
  transition: all 0.3 ease-in-out;
}

#yes:hover,
#submit:hover {
  background-color: #4960e6;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  font-family: inherit;
  outline: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 3px solid #536dfe;
  border-radius: 0.25rem;
}

textarea {
  resize: vertical;
}
